#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


loginForm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
}

.barContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    z-index: 1000;
}

.progressBar {
    margin: 0 auto;
    width: 10em;
    height: 2em;
    background-color: darkblue;
}

.bar {
    height: 2em;
    background-color: blue;
}

.mainPage{
    width: 100%;
}

.sessionList {
    margin: 0 auto;
}

.sessionList tbody, thead {
   
    height: 200px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    scrollbar-gutter: stable;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sessionListL tbody {
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 400px;
}

.sessionListL thead {
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 400px;
}


.sessionList thead {
    height: auto;
    overflow: hidden;
}

.sessionList tbody tr {
    display: contents;
}
.sessionList thead tr {
    display: contents;
}

.gridItem {
    border: solid black;
}