#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bar {
    height: 2em;
    background-color: blue;
}

.barcontainer {
    width: 10em;
    height: 2em;
    background-color: darkblue;
}

.SessionTable{
    margin: 0 auto;
    
}

.SessionTable table{
    display: grid;
}

.SessionList {
    height: 200px;
    overflow: scroll;
}